<launch>

<rosparam file="$(find amir_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="amir" args="Joint_1_position_controller Joint_2_position_controller Joint_3_position_controller Joint_4_position_controller Joint_5_position_controller Gripper_position_controller Rev6_position_controller Rev7_position_controller Rev9_position_controller Rev10_position_controller Rev11_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/amir/joint_states"/>
</node>

</launch>